.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #220077;
    padding: 0 10%;
  }
  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #cdb8fc;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .badge {
    background-color: #6709da;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }
  
  .favouriteCount{
    display:inline-block;
    width:40px;
    height:40px;
    border: 1px solid red;
    color: red;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px
  }