.form {
    padding: 1rem;
  }
  
  .groups {
    margin-bottom: 0.5rem;
  }
  
  .groups label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .groups input,
  .groups textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
  }
  
  .btn {
    margin-top: 1rem;
    text-align: right;
  }
  
  .btn button {
    font: inherit;
    cursor: pointer;
    background-color: #2a0077;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #280077;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .btn button:hover,
  .btn button:active {
    background-color: #340ea5;
    border-color: #360ea5;
  }