.item {
    margin: 1rem 0;
  }
  
  .image {
    width: 100%;
    height: 40rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  
  .image img {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    text-align: center;
    padding: 1rem;
  }
  
  .content h2 {
    font-size: 1.25rem;
    color: #2c292b;
  }
  
  .btn {
    padding: 1.5rem;
    text-align: center;
  }
  
  .btn button {
    font: inherit;
    cursor: pointer;
    color: #1e0077;
    border: 1px solid #160077;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .btn button:hover,
  .btn button:active {
    background-color: #e2ffff;
  }
  
  
  .heartFvrt {
    display:inline-block;
    width: 40px; 
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
    background-color: transparent;
    margin-left: 96%;
  }
  
  
  .heartUnfvrt {
    display:inline-block;
    width: 40px; 
    aspect-ratio: 1;
    border-image: radial-gradient(rgb(14, 0, 0) 69%,rgba(1, 0, 0, 0) 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
    background-color: transparent;
    margin-left: 96%;
  }